#countLabel{
    display:block;
    text-align: center;
    font-size: 10em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#btncontainer{
    text-align: center;
}
.button{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(4, 99, 99);
    border-radius:  5px;
    cursor: pointer;
    transition: baackground-color 0.25s;
}
.button:hover{
    background-color: blue;
}